{% extends '../layout1.html' %}

{% block content %}
{% if status == 'fail' %}
{{ message }}
{% else %}
{{ emojis[3] }} *{{ data_api.city_name }}*
    {{ emojis[4] }} Товар: {{ data_api.goods_name }}
    {{ emojis[5] }} Вес: {{ data_api.weight }}
    {{ emojis[8] }} Количество: {{ data_api.count }}
    {{ emojis[6] }} Цена: {{ data_api.cost }}
{%- if data_api.order_processed > 0 %}
{{ emojis[9] }} Успешно выполнено *{{ data_api.order_processed }}* заказов
{% endif %}
*Реквизиты для оплаты*
QIWI: *{{ data_api.purse }}*
Комментарий: *{{ comment }}*

*Оплата и покупка*
Ваш заказ успешно создан и будет автоматически выполнен в течении 30-ти секунд после поступления оплаты. Сумма оплаты может быть любой, можно отправлять средства любыми частями, все платежи зачисляются на ваш баланс, когда на вашем балансе окажеться достаточная сумма для оплаты заказа, последует выполнение.
Вы можете создать несколько заказов, они будут выполнены в порядки их создания.
{{ emojis[10] }} Будьте внимательны, следите за вашим списком заказов в разделе {{ emojis[2] }} /myorder. Если вы создали первый заказ, а затем передумали и создали второй не удалив первый, при поступлении оплаты последует выполнение заказов в порядке их создания. В описанном случаи, выполнится первый заказ, а затем второй и т.д., пока не закончится баланс или список заказов.
Если на вашем балансе уже есть достаточная сумма, покупка произойдет сразу же, после выбора количества.

После оплаты проверяйте ваш список заказов.
Мой список заказов {{ emojis[2] }} /myorder
{% endif -%}
{% endblock %}