{% extends '../app.html' %}

{% block content %}
💵 Оплата

*Реквизиты QIWI*
{%- if phone %}
Номер: *+{{ phone }}*
Комментарий: *{{ comment }}*

*Прием оплаты*
Средства принимаются на *QIWI* кошелек с обязательным комментарием, по которому система определяет, что это именно ваш платеж и деньги поступают на ваш личный баланс. Платеж с ошибочным комментарием или без него, не будет обработан в автоматическом режиме.
{% else %}
❌ В данный момент нет реквизитов для прием оплаты
{% endif %}
{% endblock %}