{% for city in product.citiesSorted -%}
🏡 *{{ city.name }}*
{% if product.hasProduct({city_id: city.id}) -%}
{%- for goods in product.getGoodsByCityName(city.name) -%}
🎁 *{{ goods.name }}*
{%- if product.hasProduct({goods_id: goods.id}) -%}
{%- for productItem in product.getProduct(goods.id) -%}
{{ space }}📦 {{ product.weightForHumans(productItem.weight) }} - 💰 {{ productItem.cost }}
{%- if !loop.last -%}
{{ space }}{{ divider.repeat(6) }}
{%- endif -%}
{%- endfor -%}
{%- endif -%}
{%- endfor -%}
{%- else -%}
⭕️ Нет товара
{%- endif -%}
{%- endfor -%}