{% extends '../app.html' %}

{% block content %}
❄️ Добро пожаловать в круглосуточный магазин 👀 GHOST

❄️ Поддержка @Ghost228

❄ Подпишитесь на наш новостной канал 👉 https://telegram.me/ghost228news что бы быть в курсе всех событий

🎁 Приведи друга на розничного курьера и через две недели его ровной работы, получи *10000*!

🏣 *Наличие по городам*

{% for city in cities -%}
🏡 *{{ city.name }}*
{%- if product.hasProduct({city_id: city.id}) -%}
{%- for goods in product.getGoodsByCityName(city.name) -%}
🎁 *{{ goods.name }}*
{%- if product.hasProduct({goods_id: goods.id}) -%}
{%- for productItem in product.getProduct(goods.id) -%}
{{ space }}📦 {{ product.weightForHumans(productItem.weight) }} - 💰 {{ productItem.cost }}
{%- if !loop.last -%}
{{ space }}{{ divider.repeat(6) }}
{%- endif -%}
{%- endfor -%}
{%- endif -%}
{%- endfor -%}
{%- else -%}
⭕️ Пусто
{%- endif -%}
{%- endfor -%}
{% endblock %}