✅ *Ваш выбор:*

🏡 Город: *{{ product.getCity(selected_items.city_id).name }}*
{%- if selected_items.hasOwnProperty('goods_id') %}
🎁 Товар: *{{ product.getGoods(selected_items.goods_id).name }}*
{%- endif -%}
{%- if selected_items.hasOwnProperty('weight') %}
📦 Вес: *{{ product.weightForHumans(selected_items.weight) }}*
💰 Цена: *{{ product.getProduct(selected_items.goods_id, selected_items.weight)[0].cost * count_package }}*
{%- if selected_items.hasOwnProperty('count_package') %}
🍭 Количество: *{{ selected_items.count_package }}*{%- endif -%}
{%- endif -%}