{% extends '../layout1.html' %}

{% import "../includes/order_item.html" as orderInfo %}

{% block content %}
{{ emojis[11] }} Список заказов

{{ emojis[6] }} Баланс: {{ balance }}

{%- if orders.length %}
{% for item in orders %}
{{ orderInfo.item(item) -}}
Удалить {{ emojis[2] }} /myorder\_del\_{{ item.id }}
Выслать {{ emojis[2] }} /myorder\_sendme\_{{ item.id }}
{{- separator -}}
{% endfor %}

Удалить все заказы {{ emojis[2] }} /myorder\_delall
{% else %}
Нет заказов
{% endif -%}
{% endblock %}