{% extends 'layout1.html' %}
{% block content %}
*Мой профиль*

Здравствуйте, *{{ name }}*
{{ emojis[6] }} Ваш баланс: {{ balance }}

*Реквизиты*
QIWI: +*{{ purse }}*
Комментарий: *{{comment}}*

Вы можете заранее пополнять свой баланс, что бы в любой момент совершать покупки. Баланс пополняется в течении 30-ти секунд после перевода средств на выше {{ emojis[7] }} указанные реквизиты. При оплате выбранного товара и не хватке средств, все платежи поступают на ваш счет. Если у вас есть не выполненные заказы, они автоматически выполнятся при оказании достаточной суммы на вашем балансе. Следите за своим списком заказов.
{% endblock %}