{% extends '../layout1.html' %}
{% block content %}
❄️ *С НАСТУПАЮЩИМ НОВЫМ ГОДОМ ДРУЗЬЯ!* 🎅
❄️ Добро пожаловать в круглосуточный магазин {{ emojis[1] }} GHOST.

❄️❄️❄️❄️❄️❄️
❄️ Поддержка: @Ghost228
❄️ Новостной канал: https://telegram.me/ghost228news
❄️❄️❄️❄️❄️❄️
🎄🎄🎄🎄🎄🎄
❄️❄️❄️❄️❄️❄️
❄️ Мой профиль {{ emojis[2] }} /myprofile
❄️ Мои заказы {{ emojis[2] }} /myorder
❄️❄️❄️❄️❄️❄️

{{ emojis[4] }} Приведи друга на розничного курьера и через две недели его ровной работы, получи 5000!

{{ emojis[4] }} 🎄 Новогодняя акция!
️❄️ Друзья, сообщаем вам, что в честь наступающего нового года, проводится акция "Чёрная пятница" с *16* по *18* декабря. Принимаются заказы на мелкоопт со скидкой!
️❄️ *Ск кристалл*
  3г = 💰 6000
️❄️ *Рос*
  10г = 💰 3500

❄️❄️❄️❄️❄️❄️
{{ priceMessage }}

️❄️ Обновить /start
{% endblock %}