{% extends '../layout1.html' %}
{% block content %}
Добро пожаловать в круглосуточный магазин {{ emojis[1] }} GHOST.

⚠️ *Внимание!* В Cветлограде завелись чайки, и крысы, которые выдают легавым улицы на которых заклады. Будьте осторожны! При обнаружении подобных личностей, просьба наказать без суда и следствия.
Марки машин которые замечены в слежке:
🚗 *Приора - 161 регион* цв. Черн.
🚗 *Chevrolet Lacetti (Шевроле Лачетти, хэтчбек)* цв. Бел.
🚗 *2114 - 177 регион* цв. Темный

Поддержка: @Ghost228
Новостной канал: https://telegram.me/ghost228news
🍃🍃🍃🍃
Мой профиль {{ emojis[2] }} /myprofile
Мои заказы {{ emojis[2] }} /myorder

🍃🍃🍃
{{ priceMessage }}

🍃 ️Обновить /start
{% endblock %}